<app-navigation></app-navigation>
<body class="width-100">
<div class="flex-row height-100">
  <div class="padding width-50 height-100">
    <p style="text-align: left">Current path:   {{current_path}}</p>
    <mat-grid-list cols="3" rowHeight="7:5" class="width-100">
          <mat-grid-tile *ngFor="let file of files;let i=index">
            <div class="padding width-100 height-100">
              <mat-card class="width-100 height-100 border-black clickable" (click)="viewDetails(file, i)">
                <div class="width-100 height-70 center-horizontal center-vertical">
                  <img class="height-90 center-vertical" mat-card-image src="{{ thumbnails[i] }}" alt="{{ file.file }}">
                </div>
                <mat-card-content class="center-horizontal">
                  <h5> {{file.file}} </h5>
                </mat-card-content>
              </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <button mat-mini-fab color="primary" (click)="goBack()" aria-label="back" style="position: absolute;bottom: 30px;left: 20px">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div class="padding width-100">
      <button mat-raised-button color="primary" (click)="copy()" aria-label="copy" class="margin-right">
        Copy
      </button>
      <button mat-raised-button color="primary" (click)="move()" aria-label="cut" class="margin-right">
        Cut
      </button>
      <button mat-raised-button color="primary" (click)="paste()" aria-label="paste" class="margin-right" [disabled]="!enablePaste">
        Paste
      </button>
    </div>
    <div class="padding width-100">
      <mat-form-field class="margin-right">
        <mat-label>Album name</mat-label>
        <input matInput [(ngModel)]="albumName" placeholder="Album name">
      </mat-form-field>
      <mat-form-field class="margin-right">
        <mat-label>Share User</mat-label>
        <input matInput [(ngModel)]="shareUser" placeholder="Album name">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="createAlbum()" aria-label="create album" class="margin-right">
        Create album
      </button>
      <button mat-raised-button color="primary" (click)="deleteAlbum()" aria-label="delete album" class="margin-right">
        Delete album
      </button>
      <button mat-raised-button color="primary" (click)="shareAlbum()" aria-label="delete album" class="margin-right">
        Share album
      </button>
      <button mat-raised-button color="primary" (click)="stopShareAlbum()" aria-label="delete album" class="margin-right">
        Stop Sharing album
      </button>
      <button mat-raised-button color="primary" (click)="familyAccount()" aria-label="delete album" class="margin-right">
        Family account
      </button>
      <button mat-raised-button color="primary" (click)="seeShared()" aria-label="delete album" class="margin-right">
        See shared
      </button>
    </div>
  </div>
    <div class="width-50 height-100 upload-footer">
      <br>
      <b><p class="mat-headline-3">Upload station</p></b>
      <div class="flex-row center-horizontal">
        <h4  style="margin-right: 20px;">Upload file: </h4>
        <input type="file" style="margin-right: 20px;" (change)="onFileSelected($event,false)">
      </div>
      <br>
      <h4>Added tags</h4>
      <mat-chip-grid #chipGrid aria-label="Added tags:" class="overflow-y-scroll center-horizontal border height-20 width-90">
        <mat-chip *ngFor="let tag of tags"
                  (removed)="removeTag(tag)"
                  (click)="chipClicked(tag)"
                  class="mat-h2 font-weight-medium">
          {{tag.name}} = {{tag.value}}
          <button matChipRemove [attr.aria-label]="'Remove'">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-grid>
      <br>
      <div class="flex-row width-100">
        <form [formGroup]="tagForm" class="width-100">
          <div class="flex-row center-vertical center-horizontal width-100">
             <mat-form-field class="width-40" style="margin-right: 2em">
              <mat-label>Tag name</mat-label>
              <input matInput formControlName="tagName" placeholder="Tag name" [matChipInputFor]="chipGrid">
              <mat-error *ngIf="tagForm.controls['tagName'].hasError('required')">
                Tag name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="width-40">
              <mat-label>Tag value</mat-label>
              <input matInput formControlName="tagValue" placeholder="Tag value">
              <mat-error *ngIf="tagForm.controls['tagValue'].hasError('required')">
                Tag value is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
      <br>
      <button mat-raised-button color="primary" class="center-vertical" (click)="addTag(false)">Add tag</button>
      <br>
      <br>
      <br>
      <div class="width-100 flex-row center-horizontal">
        <button mat-raised-button
                class="center-horizontal"
                color="primary"
                [disabled]="!enableUpload"
                (click)="upload()">Upload
        </button>
      <br>
      </div>
    </div>


  <div class="width-50 height-100 upload-footer stacked overflow-y-scroll" *ngIf="showFileDetails">
    <br>
    <button mat-mini-fab color="primary" (click)="showUploadStation()" aria-label="back" style="position: absolute;top: 10px;left: 20px">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <b><p class="mat-headline-3">File details</p></b>
    <img  class="width-90 center-horizontal" src = "{{selectedFileThumbnail}}" />
    <br>
    <br>
    <div class="flex-row center-horizontal">
      <h4 style="margin-right: 20px;">Upload changed file: </h4>
      <input type="file" style="margin-right: 20px;" (change)="onFileSelected($event, true)">
    </div>
    <br>
    <h4>Added tags</h4>
    <mat-chip-grid #chipGrid aria-label="Added tags:" class="overflow-y-scroll center-horizontal border height-20 width-90">
      <mat-chip *ngFor="let tag of tags"
                (removed)="removeTag(tag)"
                (click)="chipClicked(tag)"
                class="mat-h2 font-weight-medium">
        {{tag.name}} = {{tag.value}}
        <button matChipRemove [attr.aria-label]="'Remove'">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-grid>
    <br>
    <div class="flex-row width-100">
      <form [formGroup]="tagForm" class="width-100">
        <div class="flex-row center-vertical center-horizontal width-100">
          <mat-form-field class="width-40" style="margin-right: 2em">
            <mat-label>Tag name</mat-label>
            <input matInput formControlName="tagName" placeholder="Tag name" [matChipInputFor]="chipGrid">
            <mat-error *ngIf="tagForm.controls['tagName'].hasError('required')">
              Tag name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="width-40">
            <mat-label>Tag value</mat-label>
            <input matInput formControlName="tagValue" placeholder="Tag value">
            <mat-error *ngIf="tagForm.controls['tagValue'].hasError('required')">
              Tag value is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>
    <br>
    <button mat-raised-button color="primary" class="center-vertical" (click)="addTag(true)">Add/Change tag</button>
    <br>
    <br>
    <br>
    <div class="width-100 flex-row center-horizontal">
      <button mat-raised-button
              class="center-horizontal"
              color="primary"
              (click)="modify()">Modify
      </button>
      <button mat-raised-button
              class="center-horizontal"
              color="primary"
              (click)="download()">Download
      </button>
      <button mat-raised-button
              class="center-horizontal"
              color="primary"
              (click)="delete()">Delete
      </button>
      <br>
    </div>
    <br>
    <br>
  </div>
</div>
</body>
